#contact,
.nav {
  background-color: #a5a58d;
}

a {
  color: #ffe8d6;
}
body {
  background-color: #cb997e;
  color: #6b705c;
}

.card {
  background-color: #ffe8d6;
}
#work-nav {
  margin-right: auto;
}
#contact-brian {
  text-decoration: none;
}
